<!-- Navigation section  -->

<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
     <div class="logo col-md-12 col-md-10 col-sm-12" id="logo_animation">
          <img src="../assets/images/logom.png" class="img-responsive" alt="Blog Image" id="animation_id" > 
     </div>
         <div class="navbar-header">
              <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
              </button>
              <a href="index.html" class="navbar-brand"></a>
         </div>
         <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                   <li class="active"><a href="#">Home</a></li>
                   <li><a href="#">Shop</a></li>
                   <li><a href="#">About Us</a></li>
                   <li><a href="#">Experiences</a></li>
                   <li><a href="#" >Products</a></li>
                   <li><a href="#">Stocklists</a></li>
                   <li><a href="#">Blog</a></li>
                   <li><a href="#">Privacy Policy</a></li>
              </ul>
         </div>

 </div>
</div>



<section id="home" class="main-home parallax-section">
 <div class="overlay">
 <div class="container">
      <div class="row">

           <div class="col-md-12 col-sm-12" id="text">
                <h1>LOST&nbsp;<span style="color: red;">LOCH</span></h1>
                <h4>SPIRITS</h4>
                <a href="#" class="smoothScroll btn btn-default">More Products</a>
           </div>

      </div>
 </div>
</div>
</section>


<!-- Navigation section  -->