<footer>
    <div class="container">
         <div class="row">
            
              <div class="col-md-5  col-sm-6">
                 <div class="img-logo">
                      <img src="../assets/images/front-page-awards-2021-flat.png" class="img-responsive" alt="Blog Image">
                 </div>
                   <p>Subscribe to our mailing list to keep up to date for the latest news and events.               </p>
                   
                   <div class="footer-copyright">
                       <P>Email_ID</P>
                       <input type="text" class="btn" placeholder="enter email_id"><br><br>
                       <button type="submit" class="btn subscribe">Subscribe</button>
                   </div>
              </div>
   
              <div class="col-md-4  col-sm-6">
                   <h3>Contact us</h3>
                   <p> Lost Loch Spirits Ltd.</p>
                   <p> Unit 7, Deeside Activity Park,</p>
                   <p>Dess, Aboyne AB34 5BD</p>
              </div>
              <div class="col-md-2  col-sm-6">
                 
                 <p><a>About Us</a></p>
                 <p><a>Stockists</a></p>
                 <p><a>Contact Us</a></p>
                 <p><a>Privacy Policy</a></p>
            
            </div>
            <div class="col-md-2  col-sm-6">
            
                 <p><a>Haroosh</a></p>
                 <p><a>eeNoo Gin</a></p>
                 <p><a>Murmichan</a></p>
                 <p><a>Singular</a></p>
                 <p><a>Lost Loch Shop</a></p>
            
            </div>
   
              <div class="clearfix col-md-12 col-sm-12">
                   <hr>
              </div>
   
              <div class="col-md-12 col-sm-12">
                   <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-google-plus"></a></li>
                        <li><a href="#" class="fa fa-dribbble"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                   </ul>
              </div>
              
         </div>
    </div>
   </footer>
   
   <!-- Back top -->
   <a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
   
   
