
<!-- Body Section -->

<section id="blog">
 <div class="container">
      <div class="row">

           <div class="col-md-offset-1 col-md-10 col-sm-12">
                <div class="blog-post-thumb">
                     <div class="blog-post-image">
                          <a href="#">
                              <img src="../assets/images/EENOO-2-1.jpg" class="img-responsive" alt="Blog Image">
                             <div class="cart">
                              <h4>eeNoo - Scottish Gin</h4>
                             <h5>£35.00</h5>
                             <button type="submit" class="btn" style="background-color: rgb(19, 120, 138); color: cornsilk;">Add to Cart</button>
                             <img src="../assets/images/logom.png" class="img-responsive" alt="Blog Image" id="animation_id"> 
                             </div>
                             </a>
                     </div>
                     <div class="blog-post-title">
                          <h3><a href="single-post.html">eeNoo, From the old Scots tongue; eenoo  just now, at the present time, in a short time, at once.</a></h3>
                     </div>
                     <div class="blog-post-format">
         
                          <span><a href="#"><i class="fa fa-comment-o"></i> Scottish gin is at the forefront of a recent gin renaissance and so we thought eeNoo a fine and fitting name for our gin, as the present time is the heyday of gin production in Scotland.</a></span>
                     </div>
                     <div class="blog-post-des">
                          <p>When we crafted our gin, eeNoo, we wanted to create a flavour profile that encompassed the essence of a traditional gin whilst embracing flavours of the Scottish Highlands.

                             eeNoo is distilled with Royal Deeside honey. The flavour profile of our honey is unique to the local area and is made up of heather, willow herb and clover pollen. To complement the honey we add heather flowers and other local botanicals. We forage a percentage of our brambleberries, raspberries and rosehip from the Deeside area and source the remainder from berry farms in Aberdeenshire and Angus. As Scottish juniper is in a critical state of decline, we source the finest juniper from the Italian highlands. We then add coriander seeds, angelica root, liquorice root, orange and lemon peel to give our gin a traditional yet smooth fruity profile.
                             
                             Water from an ancient spring in the Cairngorms National Park is added to the mix. The water is some of the purest in the world and spends 50 years being gently filtered through layers of underground rocks and crevices before becoming part of our gin.</p>
                             <p>eeNoo  always time for gin</p>
                             <div class="row">
                                  <div class="col-md-8">
                                       <div class="table-wrap">
                                            <table class="table">
                                              <thead class="thead-dark">
                                                <tr>
                                                  <th>productId:</th>
                                                  <th>batchId:</th>
                                                  <th>distillerName:</th>
                                                  <th>bottlingTime:</th>
                                                  <th>&nbsp;</th>
                                                </tr>
                                              </thead>
                                              <tbody *ngFor='let ProductData of ProductDatas'>
                                                <tr>
                                                  <td>{{ProductData.productId}}</td>
                                                  <td>{{ProductData.batchId}}</td>
                                                  <td>{{ProductData.distillerName}}</td> 
                                                  <td>{{ProductData.bottlingTime}}</td> 
                                                </tr>
                                              </tbody>
                                            </table>
                                       </div>
                                  </div>
                             </div>
                             <h2>Tasting Notes</h2>
                             <h6>The Nose</h6>
                             <p>Sweet summer berries, think raspberry ice cream. Very little spirit hit. It is light, refreshing and enticing.</p>
                        
                             <h6>The Palate</h6>
                             <p>Smooth and refreshing. The raspberries are evident, as is the honey. It gives a real sweet edge to the gin but is balanced perfectly with the juniper and orange peel which come through quite quickly. It is a superb sipping gin. Clean, fresh and not spirituous at all. Add some tonic and fresh strawberries for a real summer explosion.</p>
                             <p>Our label artwork pays tribute to an Inuit called Eenoo who ventured to Aberdeenshire in the 1800s. May his story live on and might you drink a wee toast to his adventurous spirit.

                                  The forgotten tale of an Inuit called Eenoo and his unusual visit to Scotland
                                  
                                  In November 1839 Eenoolooapik, or Eenoo, arrived in Aberdeen aboard the whaling ship Neptune. Having joined the vessel at Baffin Island, Canada, Eenoo had expressed a desire to visit Scotland. He spent his time in Aberdeenshire learning western ways and teaching his Inuit skills to the locals which included showing his Qajaq (canoe) skills on the River Dee. In April 1840 Eenoo joined the Bon Accord, a whaling ship returning to Baffin Island. After stops in Greenland he guided the vessel into the Cumberland Sound and was part responsible for its rediscovery by Europeans. Eenoo returned to his homeland in 1840 but died in 1847 leaving a son Angalook.
                                  
                                  The full story is too long to attempt to tell here but his travels were documented by Alexander M'Donald and published in “A Narrative of Some Passages in the History of Eenoolooapik”, 1841.</p>
                        
                         
                     </div>
                </div>

           </div>

      </div>
 </div>
    <div class="container">
         <div class="row">
               <carousel>
                   <div class="carousel-cell">
                        <a href="#">
                             <img src="../assets/images/murmichaan.jpg" alt="Blog Image">
                        </a>
                   </div>
                   <div class="carousel-cell">
                        <a href="#">
                             <img src="../assets/images/harooshwhiskyliqueur.jpg" alt="Blog Image">
                        </a>
                   </div>
                   <div class="carousel-cell">
                        <a href="#">
                             <img src="../assets/images/singular1.jpg" alt="Blog Image">
                        </a>
                   </div>
                   <div class="carousel-cell">
                        <a href="#">
                             <img src="../assets/images/singular2.jpg" alt="Blog Image">
                        </a>
                   </div>
                   <div class="carousel-cell">
                        <a href="#">
                             <img src="../assets/images/singularmrminch.jpg" alt="Blog Image">
                        </a>
                   </div>
                   <div class="carousel-cell">
                        <a href="#">
                             <img src="../assets/images/singularrum.png" alt="Blog Image">
                        </a>
                   </div>
                   <div class="carousel-cell">
                        <a href="#">
                             <img src="../assets/images/murmichaan.jpg" alt="Blog Image">
                        </a>
                   </div>
                   <div class="carousel-cell">
                        <a href="#">
                             <img src="../assets/images/harooshwhiskyliqueur.jpg" alt="Blog Image">
                        </a>
                   </div>
                   <div class="carousel-cell">
                        <a href="#">
                             <img src="../assets/images/singular1.jpg" alt="Blog Image">
                        </a>
                   </div>
                   <div class="carousel-cell">
                        <a href="#">
                             <img src="../assets/images/singular2.jpg" alt="Blog Image">
                        </a>
                   </div>
                   <div class="carousel-cell">
                        <a href="#">
                             <img src="../assets/images/singularmrminch.jpg" alt="Blog Image">
                        </a>
                   </div>
                   <div class="carousel-cell">
                        <a href="#">
                             <img src="../assets/images/singularrum.png" alt="Blog Image">
                        </a>
                   </div>
               </carousel>
         </div>
    </div>
</section>

<!-- Body Section -->



